nav {
    line-height: 35px;
    margin: 0;
    background-color: #19191985;
    display: flex;
    justify-content: space-between;
}

nav a {
    width: 50px;
    border: 0;
    background: none;
    display: block;
    text-align: center;
    padding: 0 20px;
    margin: 10px;
    border: 2px solid #3498db;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

nav a:hover {
    border-color: #2ecc71;
}

#message_home {
    margin: 0;
    display: block;
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: 200;
}