<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}" media="screen" />

    </head>

    <body>
        {% block header %}
        {% endblock %}

        <form class="box" method="post">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <h6 id="{{ message }}">{{ category }}</h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}
        </form>

    </body>

</html>
