{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css') }}" media="screen" />
{% endblock %}

{% block header %}
    <nav aria-hidden="false">
        <a href="/home" class="logo">Home</a>
        <a href="/logout" id="logout">Sair</a>
    </nav>
{% endblock %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h6 id="message_home">
            {{ current_user.name }}
        </h6>
        <h1>
            Bem-vindo!
        </h1>
    {% endif %}
{% endblock %}