{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Entrar</h1>

    <input type="text" name="username" placeholder="Usuário/Email" required>

    <input type="password" name="password" placeholder="Senha" minlength=6 required>

    <input type="submit" name="submit" value="Acessar">

    <div id="base_box_login">
        <label><input type="checkbox" name="remember" value="remember"><span>Lembre-me</span></label>
        <a href="/register">Cadastre-se</a>
    </div>

{% endblock %}
