{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Entrar</h1>

    <input type="text" name="username" placeholder="Usuário/Email" required>

    <input type="password" name="password" placeholder="Senha" minlength=6 required>

    <input type="submit" name="submit" value="Acessar">

    <div id="base_box_login">
        <label><input type="checkbox" name="remember" value="remember"><span>Lembre-me</span></label>
        <a href="/register">Cadastre-se</a>
    </div>

{% endblock %}

{% block outside %}
    <div class="social-login">
        <ul>
            <li id="twitter-login">
                <a href="{{ TWITTER_URL }}">Twitter</a>
            </li>
            <li id="twitch-login">
                <a href="{{ TWITCH_URL }}">Twitch</a>
            </li>
            <li id="google-login">
                <a href="{{ GOOGLE_URL }}">Google</a>
            </li>
            <li id="facebook-login">
                <a href="{{ FACEBOOK_URL }}">Facebook</a>
            </li>
            <li id="github-login">
                <a href="{{ GITHUB_URL }}">Github</a>
            </li>
        </ul>
    </div>
{% endblock %}