{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/register.css') }}" media="screen" />
{% endblock %}

{% block content %}
    <h1>Cadastro</h1>

    <input type="text" name="username" placeholder="Usuário" required>

    <input type="text" name="email" placeholder="Email" required>

    <input type="password" name="password" placeholder="Senha" minlength=6 required>

    <input type="submit" name="submit" value="Cadastrar">

    <div id="base_box_register">
        <label>
            <span>Já tem uma conta? </span>
            <a href="/login">ENTRAR</a>
        </label>
    </div>
{% endblock %}
